@page "/"
@using BlazorApp.Shared.Configuration
@using Microsoft.Extensions.Options

<PageTitle>Index</PageTitle>

<h1>@Settings.HelloMessage</h1>

Welcome to your new app.

<ul>
    <li>Setting 0: @(Settings.Setting0 ?? "N/A")</li>
    <li>Setting 1: @(Settings.Setting1 ?? "N/A")</li>
    <li>Setting 2: @(Settings.Setting2 ?? "N/A")</li>
    <li>Setting 3: @(Settings.Setting3 ?? "N/A")</li>
</ul>

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    [Inject] public IOptions<MyClientSettings> MyClientSettingOptions { get; set; } = null!;

    MyClientSettings Settings = new MyClientSettings();

    protected override async Task OnInitializedAsync() {
        Settings = MyClientSettingOptions.Value;
    }

}